body {
    background-image: url('/assets/images/bg.png');
}

.main-wrap {
    margin: 0 auto;
    padding: 60px 20px;
    width: 1200px;
}

.search-wrap {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.table-row:hover {
    background-color: #f3f3f3;
}

.col-flag {
    cursor: default;
    width:6%;
}
.col-country {
    width: 30%;
}
.col-capital {
    width: 20%;
}
.col-currency {
    width: 30%;
}
.col-lang {
    width: 14%;
}